{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    {% for program in programs %}
        <h2>{{ program.title }}</h2>
    {% else %}
    Aucune série trouvée.
    {% endfor %}
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>
</main>
{% endblock %}