{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h1 class="text-dark text-center pt-5">Program {{ id }}</h1>
</main>
{% endblock %}