@import "~bootstrap/scss/bootstrap";

body {
    background-color: grey;
}

.navbar{
    background-color: rgb(38,76,119);
}

.nav-link {
    color : rgb(187,207,229);
}

footer {
    background-color: rgb(38,76,119);
    color : rgb(187,207,229);
}