{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<main class="vh-100">
    <h1 class="text-center pt-5 text-primary">Bienvenue</h1>
    <img src="/build/images/dog.jpeg" alt="dog">
</main>
{% endblock %}